html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    overflow: hidden;
}

.header {
    z-index: 0;
}

.header img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
}

.header .texts {
    position: absolute;
    right: -12px;
    bottom: -20%;
    width: 100vw;
    height: auto;
}

.header .button {
    position: absolute;
    right: 50%;
    top: 40%;
    transform: translate(50%, -50%);
    background-color: blue;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.35s ease;
    transform: translate(115px, 0px);
}

.header .button:hover {
    background-color: hsl(44, 21%, 55%);
}

.header .button:active {
    transform: translate(115px, 10px);
}

.header .button a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.35s ease;

}

.header .button:hover a {
    letter-spacing: 1.5px;
}


.header .pagination {
    position: absolute;
    right: 5%;
    bottom: 6%;
}

.header .pagination ul {
    display: flex;
}

.header .pagination ul li {
    list-style: none;
}

.header .pagination ul li img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header .pagination ul li:nth-child(1) img {
    margin-right: 200px;
    margin-bottom: 3px;
    width: 40px;
    height: 35px;
}

.header .pagination ul li:nth-child(2) img {
    margin-right: 150px;
}

.header .pagination ul li:nth-child(3) img {
    margin-right: 100px;
}

.header .pagination ul li:nth-child(4) img {
    margin-right: 50px;
}

.menu {
    z-index: 20;
    top: 0;
    left: 0;
    position: absolute;
}

.menu .menu-bg img {
    width: 100%;
    height: 100vh;
}

.menu .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 150px;
}

.menu .wrapper .nav {
    position: absolute;
    top: 150px;
    left: 50px;
}


.menu .wrapper .nav nav ul li {
    list-style: none;
}

.menu .wrapper .nav>nav>ul>li:nth-child(2)>a>img {
    position: absolute;
    top: 80px;
    left: -4px;
}

.menu .wrapper .nav>nav>ul>li:nth-child(3)>a>img {
    position: absolute;
    top: 160px;
    left: -5px;
}

.menu .wrapper .in-icon {
    position: absolute;
    top: 690px;
    left: 55px;
    cursor: pointer;
}

.down-icon {
    transition: all 0.3s ease-out;
}


.hamburger {
    z-index: 21;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.hamburger .circle {
    width: 100px;
    height: 100px;
}

.hamburger .lines {
    z-index: 22;
    position: absolute;
    right: -12.5px;
    top: -12px;
    transition: all 0.2s ease;
    backface-visibility: hidden;
}


.right-menu {
    position: absolute;
    z-index: 20;
    top: 0;
    right: -440px;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.right-menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.right-menu .right-menu-wrapper .right-menu-nav {
    position: absolute;
    top: 150px;
    right: 60px;
}

.right-menu .right-menu-wrapper .right-menu-nav nav ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}

.right-menu .right-menu-wrapper .right-menu-nav nav ul li a {
    text-decoration: none;
    width: 200px;
    margin-right: 20px;
}

.right-menu .right-menu-wrapper .right-menu-nav nav ul li a p {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: "Open Sans";
    padding: 10px;
    color: rgb(198, 197, 206);
    transition: all 0.4s ease;
    font-weight: 500;
}

.right-menu .right-menu-wrapper .right-menu-nav nav ul li a p:hover {
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    padding-left: -20px;
    color: blue;
}

.right-menu .right-menu-wrapper .show-all {
    position: absolute;
    top: 705px;
    right: 75px;
    width: 220px;
    height: 50px;
    cursor: pointer;
}

.right-menu .right-menu-wrapper .show-all a {
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Open Sans";
    letter-spacing: 1px;
    color: blue;
    position: relative;
    transition: all 0.3s ease-out;
}

.right-menu .right-menu-wrapper .show-all a::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: blue;
    bottom: -10px;
    left: 20px;
    transition: all 0.3s ease-out;
}

.right-menu .right-menu-wrapper .show-all:hover a::after {
    width: 100%;
    left: 0px;
}


/* ----- CATEGORIES ----- */

.categories {
    z-index: 1;
    transition: all .6s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
}

.categories .cat-bg>img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;

}

.cat-texts {
    position: absolute;
    left: 15.4%;
    top: 3%;
    display: flex;
    justify-items: center;
    justify-content: center;

}

.cat-texts .heading {
    margin-right: 416px;
}

.cat-texts .heading img {
    width: 61%;
}

.cat-texts .cat-name {
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-texts .cat-name img {
    width: 65%;
}

.categories .products {
    position: absolute;
    margin: 418px auto 0px auto;
    width: 1040px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    transition: all .5s ease;
}

.products>* {
    transition: all .3s ease;
}

.products>*:hover {
    cursor: pointer;
    transform: translateY(-7px) scale(1.02);
    box-shadow: 0 50px 50px 10px rgba(0, 0, 0, .1);
}

/* RED SEAT */
.red-seat-container {
    position: relative;
    width: 250px;
    height: 300px;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.red-seat-container img {
    position: absolute;
    width: 250px;
    height: 300px;
}

.red-seat-container>img.red-seat {
    position: absolute;
    top: 15px;
    width: 60%;
    height: auto;
}

.red-seat-container>img.red-seat-texts {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 65%;
    height: auto;
}

/* WHITE TABLE */
.white-table-container {
    position: relative;
    width: 760px;
    height: 300px;
    grid-column: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-table-container img {
    position: absolute;
    width: 760px;
    height: 300px;
}

.white-table-container>img.white-table {
    position: absolute;
    top: 40px;
    left: 70px;
    width: 45%;
    height: auto;
}

.white-table-container>img.white-table-texts {
    position: absolute;
    top: 85px;
    right: 70px;
    width: 30%;
    height: auto;
}

/* BLUE SEAT */
.blue-seat-container {
    position: relative;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-seat-container img {
    position: absolute;
    width: 250px;
    height: 300px;
}

.blue-seat-container>img.blue-seat {
    position: absolute;
    top: 40px;
    width: 60%;
    height: auto;
}

.blue-seat-container>img.blue-seat-texts {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 64%;
    height: auto;
}

/* MODERN BED */
.modern-bed-container {
    position: relative;
    width: 480px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modern-bed-container img {
    position: absolute;
    width: 480px;
    height: 300px;
}

.modern-bed-container>img.modern-bed {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 50%;
    height: auto;
}

.modern-bed-container>img.modern-bed-texts {
    position: absolute;
    bottom: 110px;
    right: 20px;
    width: 35%;
    height: auto;
}


/* DARK SEAT */
.dark-seat-container {
    position: relative;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-seat-container img {
    position: absolute;
    width: 250px;
    height: 300px;
}

.dark-seat-container>img.dark-seat {
    position: absolute;
    top: 30px;
    width: 68%;
    height: auto;
}

.dark-seat-container>img.dark-seat-texts {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 64%;
    height: auto;
}

.show-more {
    position: absolute;
    bottom: 14px;
}

.show-more a {
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: bold;
    transition: all .3s ease;
}

.show-more a:hover {
    letter-spacing: .75px;
    font-size: 1.05rem;
}

/* PRODUCT */
.product {
    z-index: 2;
    transition: all .6s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
}

.product .product-bg>img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

.product .product-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* LEFT PART */
.product .product-wrapper .left-part {
    position: relative;
    /* width: 100vw; */
    height: 100%;
    display: flex;
    z-index: 10;
}

.product .product-wrapper .left-part img:nth-child(1) {
    position: absolute;
    width: 100%;
    height: auto;
}

.product .product-wrapper .left-part img:nth-child(2) {
    position: absolute;
    top: 18%;
    left: 28%;
    width: 60%;
    height: auto;
}

.product .product-wrapper .left-part img:nth-child(3) {
    position: absolute;
    bottom: 6%;
    left: 28%;
    width: 5%;
    height: auto;
    cursor: pointer;
}

.product .product-wrapper .left-part img:nth-child(4) {
    position: absolute;
    bottom: 6%;
    left: 34%;
    width: 5%;
    height: auto;
    cursor: pointer;
}

.product .product-wrapper .left-part img:nth-child(5) {
    position: absolute;
    bottom: 5.8%;
    right: 7%;
    width: 5%;
    height: auto;
    cursor: pointer;
}

.product .product-wrapper .left-part img:nth-child(6) {
    position: absolute;
    bottom: 6%;
    right: 15%;
    width: 3.5%;
    height: auto;
    cursor: pointer;
}

.product .product-wrapper .left-part img:nth-child(7) {
    position: absolute;
    top: 7%;
    right: 7%;
    width: 4%;
    height: auto;
    cursor: pointer;
}

.product .product-wrapper .left-part img:nth-child(8) {
    position: absolute;
    top: 7.8%;
    right: 12%;
    width: 6%;
    height: auto;
}

/* RIGHT PART */
.product .product-wrapper .right-part {
    height: 100%;
    display: grid;
    grid-template-rows: .7fr .3fr;
}

.product .product-wrapper .right-part .upper {
    position: relative;
}

.product .product-wrapper .right-part .upper img:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 60%;
    height: auto;
}

.product .product-wrapper .right-part .upper img:nth-child(2) {
    position: absolute;
    top: 38%;
    left: 10%;
    width: 58%;
    height: auto;
}

.product .product-wrapper .right-part .upper img:nth-child(3) {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 13%;
    height: auto;
}

.product .product-wrapper .right-part .upper img:nth-child(4) {
    position: absolute;
    top: 70.2%;
    left: 40%;
    width: 8%;
    height: auto;
}

.product .product-wrapper .right-part .upper img:nth-child(5) {
    position: absolute;
    top: 76%;
    left: 43.5%;
    width: 2%;
    height: auto;
    z-index: 5;
    cursor: pointer;
}

.product .product-wrapper .right-part .upper img:nth-child(6) {
    position: absolute;
    top: 78%;
    left: 43.5%;
    width: 2.2%;
    height: auto;
    z-index: 5;
    cursor: pointer;
}

.product .product-wrapper .right-part .upper p {
    position: absolute;
    top: 75.6%;
    left: 40%;
    width: 54px;
    height: 30px;
    background-color: #fff;
    font-size: 1.22rem;
    font-family: 'Open Sans';
    font-weight: 700;
    display: flex;
    justify-content: start;
    align-items: center;
    display: inline-flex;
    padding: 5px 14px;
    z-index: 4;
    border-radius: 50px;
}

.product .product-wrapper .right-part .upper .right-part_upper_button {
    position: absolute;
    top: 75%;
    left: 52%;
    transform: translate(50%, -50%);
    background-color: blue;
    width: 130px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.35s ease;
    transform: translate(0px, 0px);
}

.product .product-wrapper .right-part .upper .right-part_upper_button:hover {
    background-color: hsl(44, 21%, 55%);
}

.product .product-wrapper .right-part .upper .right-part_upper_button:active {
    transform: translate(0px, 4px);
}

.product .product-wrapper .right-part .upper .right-part_upper_button a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans';
    font-size: .8rem;
    font-weight: 500;
    transition: all 0.35s ease;
}

.product .product-wrapper .right-part .upper .right-part_upper_button:hover a {
    letter-spacing: 1px;
}

.product .product-wrapper .right-part .lower {
    position: relative;
    z-index: 9;
}

.product .product-wrapper .right-part .lower img:nth-child(1) {
    position: absolute;
    top: 0%;
    left: -4%;
    width: 100vw;
    height: 100%;
}

.product .product-wrapper .right-part .lower img:nth-child(2) {
    position: absolute;
    top: 14%;
    left: 5%;
    width: 3.3%;
    height: auto;
}

.product .product-wrapper .right-part .lower img:nth-child(3) {
    position: absolute;
    top: 12%;
    left: 15%;
    width: 19%;
    height: auto;
    cursor: pointer;
    transition: all .3s ease;
}

.product .product-wrapper .right-part .lower img:nth-child(3):hover {
    transform: translateY(-5px) scale(1.05);
}

.product .product-wrapper .right-part .lower img:nth-child(4) {
    position: absolute;
    top: 10%;
    left: 45%;
    width: 19%;
    height: auto;
    cursor: pointer;
    transition: all .3s ease;
}

.product .product-wrapper .right-part .lower img:nth-child(4):hover {
    transform: translateY(-5px) scale(1.05);
}

.product .product-wrapper .right-part .lower img:nth-child(5) {
    position: absolute;
    top: 10.8%;
    left: 75%;
    width: 18.2%;
    height: auto;
    cursor: pointer;
    transition: all .3s ease;
}

.product .product-wrapper .right-part .lower img:nth-child(5):hover {
    transform: translateY(-5px) scale(1.05);
}
